* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

header {
  background-color: #ff69b4;
  color: #e4eef1;
  font-size: 28px;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  section {
    display: flex;
    align-items: center;
  }

  nav {
    width: 100vh;

    ul {
      display: flex;
      justify-content: space-around;

      a {
        color: #e4eef1;
        font-size: 28px;
      }
    }
  }
}

.container-sobre {
  height: 40vh;
  display: flex;
  justify-content: space-around;
  background-color: #ffd9ec;
  padding: 2vh;
  p {
    width: 50%;
    display: flex;
    align-items: center;
    text-align: justify;
  }
}

.container-conscientizacao {
  height: 35vh;
  display: flex;
  justify-content: space-around;
  background-color: #ff69b4;
  padding: 2vh;
  p {
    width: 60%;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #e4eef1;
  }
}

.container-cuidados {
  height: 40vh;
  display: flex;
  justify-content: space-around;
  background-color: #ffd9ec;
  padding: 5vh;
}

footer {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff69b4;
  padding: 6vh;

  .container-redes-sociais {
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35vh;

    a {
      img {
        display: flex;
        align-items: center;
        height: 10vh;
      }
    }
  }

  .container-informacoes-curso {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #e4eef1;
    font-size: 20px;
  }

  .container-logo-outubro-rosa {
    display: flex;
    height: 15vh;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    height: auto;
    nav {
      width: 60%;
      margin: 2vh;
      ul {
        li,
        a {
          font-size: 18px;
        }
      }
    }
  }

  .container-sobre,
  .container-conscientizacao,
  .container-cuidados {
    flex-direction: column-reverse;
    align-items: center;
    height: auto;

    p,
    img {
      width: 60%;
      font-size: 15px;
      margin: 1vh;
    }
  }

  footer {
    flex-direction: column;
    align-items: center;
    padding: 1vh;
    height: auto;

    .container-redes-sociais {
      margin-bottom: 20px;
      a {
        img {
          height: 7vh;
        }
      }
    }

    .container-informacoes-curso {
      font-size: 18px;
      margin: 2vh;
    }

    .container-logo-outubro-rosa {
      height: 12vh;
      padding: 1vh;
    }
  }
}
